<footer class="simple_footer">
  <img class="leaf_right" src="../../img/home_one/leaf_footter.png" alt="">
  <div class="container ">
    <div class="row">
      <div class="col-lg-6">
        <p>© 2021 All Rights Reserved by <a href="#">Lovelace Academy</a></p>
      </div>
      <div class="col-lg-6 text-right">
        <ul class="list-unstyled f_social_icon">
          <li><a href="#"><i class="social_youtube"></i></a></li>
          <li><a href="#"><i class="social_twitter"></i></a></li>
          <!-- <li><a href="#"><i class="social_github"></i></a></li> -->
          <!-- <li><a href="#"><i class="social_linkedin"></i></a></li> -->
        </ul>
      </div>
    </div>
  </div>
</footer>
