<nav class="navbar navbar-expand-lg menu_one dark_menu display_none sticky-nav">
  <div class="container custom_container">
    <a class="navbar-brand header_logo" href="#">
      <img class="first_logo sticky_logo main_logo" src="/img/logo.png" srcset="../../img/logo-2x.png 2x" alt="logo">
      <img class="white_logo" src="/img/logo-w.png" srcset="/img/logo-w2x.png 2x" alt="logo">
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="menu_toggle">
        <span class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <span class="hamburger-cross">
          <span></span>
          <span></span>
        </span>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav menu ml-auto">
        {% for item in site.menu %}
          {% assign posts = site.categories[item.title] %}
          {% if posts and posts != empty %}
            {% assign posts = posts | sort: 'order', 'last' %}
          {% else %}
            {% assign posts = item.links %}
          {% endif %}
          <li class="nav-item dropdown submenu">
            <a href="#" class="nav-link dropdown-toggle">{{ item.title }}</a>
              <i class="arrow_carrot-down_alt2 mobile_dropdown_icon" aria-hidden="false" data-toggle="dropdown"></i>
              <ul class="dropdown-menu">
                {% for post in posts %}
                  <li class="nav-item"><a href="{{ post.url }}" class="nav-link">{{ post.title }}</a></li>
                {% endfor %}
              </ul>
          </li>
        {% endfor %}
      </ul>
      <div class="right-nav">
        <form action="https://academy.us7.list-manage.com/subscribe/post?u=2cc5f9357a349277646fbda76&amp;id=34fa4be848" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
          <button type="submit" class="nav_btn tp_btn">Subscribe</button>
        </form>
        <a class="px-2 ml-3" href="mailto:hello@lovelace.academy" title="Send us an email">
          <ion-icon name="mail"></ion-icon>
        </a>
        <div class="px-2 js-darkmode-btn" title="Toggle dark mode">
          <label for="something" class="tab-btn tab-btns">
            <ion-icon class="light-mode" name="contrast"></ion-icon>
          </label>
          <input type="checkbox" name="something" id="something" class="dark_mode_switcher">
          <label for="something" class="tab-btn">
            <ion-icon class="dark-mode" name="contrast-outline"></ion-icon>
          </label>
        </div>
      </div>
    </div>
  </div>
</nav>
