<nav class="navbar navbar-expand-lg menu_one dark_menu display_none sticky-nav">
  <div class="container custom_container">
    <a class="navbar-brand header_logo" href="#">
      <img class="first_logo sticky_logo main_logo" src="/img/logo.png" srcset="../../img/logo-2x.png 2x" alt="logo">
      <img class="white_logo" src="/img/logo-w.png" srcset="/img/logo-w2x.png 2x" alt="logo">
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="menu_toggle">
        <span class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <span class="hamburger-cross">
          <span></span>
          <span></span>
        </span>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav menu ml-auto">
        {% for item in site.menu %}
          {% comment %}
          If the menu item has categories, we need to build the submenu
          containing the categories and their posts.  Otherwise just
          creates a dropdown menu.
          {% endcomment %}
          {% if item.categories %}
            <li class="nav-item dropdown submenu mega_menu tab-demo">
              <a href="#" class="nav-link dropdown-toggle">{{ item.title }}</a>
              <i class="arrow_carrot-down_alt2 mobile_dropdown_icon" aria-hidden="false" data-toggle="dropdown"></i>
              <ul class="dropdown-menu">
                <li>
                  <div class="row">
                    <div class="col-lg-5 tabHeader">
                      <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        {% for category in item.categories %}
                          {% assign slug = category.title | slugify: 'latin' %}
                          <li class="nav-item{% if forloop.first %} active{% endif %}">
                            <a class="nav-link" id="v-{{ slug }}-tab" data-toggle="pill" href="#v-{{ slug }}" role="tab" aria-controls="v-{{ slug }}" aria-selected="{% if category.title == page.category[0] %}true{% else %}false{% endif %}">{{ category.title }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                    <div class="col-lg-7">
                      <div class="tab-content tabContent" id="v-pills-tabContent">
                        {% for category in item.categories %}
                          {% assign slug = category.title | slugify: 'latin' %}
                          {% assign posts = site.categories[category.title] | sort: 'order', 'last' %}
                          <div class="tab-pane fade{% if forloop.first %} active show{% endif %}" id="v-{{ slug }}" role="tabpanel" aria-labelledby="v-{{ slug }}-tab">
                            <div class="d-flex">
                              <ul class="list-unstyled tab_list w-100">
                                {% for post in posts %}
                                  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                                {% endfor %}
                              </ul>
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
          {% else %}
            {% assign posts = site.categories[item.title] %}
            {% if posts and posts != empty %}
              {% assign posts = posts | sort: 'order', 'last' %}
            {% else %}
              {% assign posts = item.links %}
            {% endif %}
            <li class="nav-item dropdown submenu">
              <a href="#" class="nav-link dropdown-toggle">{{ item.title }}</a>
                <i class="arrow_carrot-down_alt2 mobile_dropdown_icon" aria-hidden="false" data-toggle="dropdown"></i>
                <ul class="dropdown-menu">
                  {% for post in posts %}
                    <li class="nav-item">
                      <a
                        {% if post.external %}
                          target="_blank"
                          rel="noopener noreferrer"
                        {% endif %}
                          href="{{ post.url }}"
                          class="nav-link{% if page.url == post.url %} active{% endif %}">
                        {{- post.title -}}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <div class="right-nav">
        <!-- <form action="{{ site.subscribe | escape_uri }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
          <button type="submit" class="nav_btn tp_btn">Subscribe</button>
        </form> -->
        <!-- <a class="px-2 ml-3" href="mailto:{{ site.email }}" title="Send us an email">
          <ion-icon name="mail"></ion-icon>
        </a> -->
        <a class="px-2 ml-3" href="https://discord.gg/cqQBvBpXzR" target="_blank" title="Join our Discord">
          <ion-icon name="logo-discord"></ion-icon>
        </a>
        <div class="px-2 js-darkmode-btn" title="Toggle dark mode">
          <label for="dark-toggle" class="tab-btn tab-btns">
            <ion-icon class="light-mode" name="contrast"></ion-icon>
          </label>
          <input type="checkbox" name="dark-toggle" id="dark-toggle" class="dark_mode_switcher">
          <label for="dark-toggle" class="tab-btn">
            <ion-icon class="dark-mode" name="contrast-outline"></ion-icon>
          </label>
        </div>
      </div>
    </div>
  </div>
</nav>
