<div class="mobile_main_menu dark_menu sticky-nav">
  <div class="container">
    <div class="mobile_menu_left">
      <button type="button" class="navbar-toggler mobile_menu_btn">
        <span class="menu_toggle ">
          <span class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </span>
      </button>
      <a class="navbar-brand header_logo" href="#">
        <img class="sticky_logo main_logo" src="/img/logo.png" srcset="/img/logo-2x.png 2x" alt="logo">
        <img class="white_logo" src="/img/logo-w.png" srcset="/img/logo-w2x.png 2x" alt="logo">
      </a>
    </div>
    <div class="mobile_menu_right">
      <div class="right-nav">
        <form action="{{ site.subscribe | escape_uri }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
          <button type="submit" class="nav_btn tp_btn">Subscribe</button>
        </form>
        <a class="px-2 ml-3" href="mailto:{{ site.email }}" title="Send us an email">
          <ion-icon name="mail"></ion-icon>
        </a>
        <div class="px-2 js-darkmode-btn btn" title="Toggle dark mode">
          <label for="something2" class="tab-btn tab-btns">
            <ion-icon class="light-mode" name="contrast"></ion-icon>
          </label>
          <input type="checkbox" name="something2" id="something2" class="dark_mode_switcher">
          <label for="something2" class="tab-btn">
            <ion-icon class="dark-mode" name="contrast-outline"></ion-icon>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="click_capture"></div>
<div class="side_menu">
  <div class="mobile_menu_header">
    <div class="close_nav">
      <i class="icon_close"></i>
    </div>
    <div class="mobile_logo">
      <a class="navbar-brand header_logo" href="#">
        <img class="sticky_logo main_logo" src="/img/logo.png" srcset="/img/logo-2x.png 2x" alt="logo">
        <img class="white_logo" src="/img/logo-w.png" srcset="/img/logo-w2x.png 2x" alt="logo">
      </a>
    </div>
  </div>
  <div class="mobile_nav_wrapper">
    <div class="mobile_nav_top"></div>
    <div class="mobile_nav_bottom">
      <aside class="doc_left_sidebarlist">
        <h2>{{ site.title }}</h2>
        <div class="scroll">
          <ul class="list-unstyled nav-sidebar">
            <li class="nav-item">
              <a href="{{ site.url | absolute_url }}" class="nav-link"><img src="/img/side-nav/home.png" alt="">Home</a>
            </li>
            {% for item in site.menu %}
              {% assign posts = site.categories[item.title] %}
              {% if posts and posts != empty %}
                {% assign posts = posts | sort: 'order', 'last' %}
              {% else %}
                {% assign posts = item.links %}
              {% endif %}
              <li class="nav-item{% if page.category[0] == item.title %} active{% endif %}">
                <a href="#" class="nav-link">
                  <img src="/img/side-nav/{{ item.icon }}" alt="{{ item.alt }}">

                  {{ item.title }}
                </a>
                <span class="icon"><i class="arrow_carrot-down"></i></span>
                <ul class="list-unstyled dropdown_nav">
                  {% for post in posts %}
                    <li>
                      <a
                        {% if post.external %}
                          target="_blank"
                          rel="noopener noreferrer"
                        {% endif %}
                        {% if page.url == post.url %}class="active"{% endif %}
                        href="{{ post.url }}">
                        {{ post.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ul>
        </div>
      </aside>
    </div>
  </div>
</div>
