<div class="mobile_main_menu dark_menu sticky-nav">
  <div class="container">
    <div class="mobile_menu_left">
      <button type="button" class="navbar-toggler mobile_menu_btn">
        <span class="menu_toggle ">
          <span class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </span>
      </button>
      <a class="navbar-brand header_logo" href="#">
        <img class="sticky_logo main_logo" src="/img/logo.png" srcset="/img/logo-2x.png 2x" alt="logo">
        <img class="white_logo" src="/img/logo-w.png" srcset="/img/logo-w2x.png 2x" alt="logo">
      </a>
    </div>
    <div class="mobile_menu_right">
      <div class="right-nav">
        <form action="https://academy.us7.list-manage.com/subscribe/post?u=2cc5f9357a349277646fbda76&amp;id=34fa4be848" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
          <button type="submit" class="nav_btn tp_btn">Subscribe</button>
        </form>
        <a class="px-2 ml-3" href="mailto:hello@lovelace.academy" title="Send us an email">
          <ion-icon name="mail"></ion-icon>
        </a>
        <!-- <a class="px-2" href="#" title="RSS feed">
          <ion-icon name="logo-rss"></ion-icon>
        </a> -->
        <div class="px-2 js-darkmode-btn btn" title="Toggle dark mode">
          <label for="something2" class="tab-btn tab-btns">
            <ion-icon class="light-mode" name="contrast"></ion-icon>
          </label>
          <input type="checkbox" name="something2" id="something2" class="dark_mode_switcher">
          <label for="something2" class="tab-btn">
            <ion-icon class="dark-mode" name="contrast-outline"></ion-icon>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="click_capture"></div>
<div class="side_menu">
  <div class="mobile_menu_header">
    <div class="close_nav">
      <i class="arrow_left"></i>
      <i class="icon_close"></i>
    </div>
    <div class="mobile_logo">
      <a class="navbar-brand header_logo" href="#">
        <img class="sticky_logo main_logo" src="/img/logo.png" srcset="/img/logo-2x.png 2x" alt="logo">
        <img class="white_logo" src="/img/logo-w.png" srcset="/img/logo-w2x.png 2x" alt="logo">
      </a>
    </div>
  </div>
  <div class="mobile_nav_wrapper">
    <nav class="mobile_nav_top">
      <ul class="navbar-nav menu ml-auto">
        <li class="nav-item dropdown submenu">
          <a href="#" class="nav-link">Getting Started</a>
        </li>
        <li class="nav-item dropdown submenu">
          <a href="#" class="nav-link">Native Tokens</a>
          <i class="arrow_carrot-down_alt2 mobile_dropdown_icon"></i>
          <ul class="dropdown-menu">
            <!-- <li class="nav-item"><a href="#" class="nav-link">Onepage Doc</a></li>
            <li class="nav-item"><a href="#" class="nav-link">404 Error</a></li> -->
          </ul>
        </li>
        <li class="nav-item dropdown submenu">
          <a href="#" class="nav-link">Smart Contracts</a>
          <i class="arrow_carrot-down_alt2 mobile_dropdown_icon"></i>
          <ul class="dropdown-menu">
            <!-- <li class="nav-item"><a href="#" class="nav-link">Forums Root</a></li>
            <li class="nav-item"><a href="#" class="nav-link">User Profile</a></li> -->
          </ul>
        </li>
        <li class="nav-item dropdown submenu">
          <a class="nav-link" href="#">Videos</a>
          <i class="arrow_carrot-down_alt2 mobile_dropdown_icon"></i>
          <ul class="dropdown-menu">
            <!-- <li class="nav-item"><a href="#" class="nav-link">Blog Grid</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Blog Grid Two</a></li> -->
          </ul>
        </li>
      </ul>
    </nav>
    <div class="mobile_nav_bottom">
      <aside class="doc_left_sidebarlist">
        <h2>Learn</h2>
        <div class="scroll">
          <ul class="list-unstyled nav-sidebar">
            <li class="nav-item">
              <a href="#" class="nav-link"><img src="/img/side-nav/home.png" alt="">Home</a>
            </li>
            <li class="nav-item active">
              <a href="#" class="nav-link"><img src="/img/side-nav/briefcase.png" alt="briefcase">Getting Started</a>
              <span class="icon"><i class="arrow_carrot-down"></i></span>
              <ul class="list-unstyled dropdown_nav">
                <!-- <li><a href="#">Tabs</a></li>
                <li><a class="active" href="#">Source Code</a></li> -->
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link"><img src="/img/side-nav/layout.png" alt="">Native Tokens</a>
              <span class="icon"><i class="arrow_carrot-down"></i></span>
              <ul class="list-unstyled dropdown_nav">
                <li><a href="#">Full-width</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link"><img src="/img/side-nav/chat1.png" alt="">Smart Contracts</a>
              <span class="icon"><i class="arrow_carrot-down"></i></span>
              <ul class="list-unstyled dropdown_nav">
                <li><a href="#">Cheatsheet</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link"><img src="/img/side-nav/document.png" alt="">Videos</a>
              <span class="icon"><i class="arrow_carrot-down"></i></span>
              <ul class="list-unstyled dropdown_nav">
                <li><a href="#">Image</a></li>
              </ul>
            </li>
            <!-- <li class="nav-item">
              <a href="#" class="nav-link"><img src="/img/side-nav/clock.png" alt="">Change Log</a>
            </li> -->
          </ul>
          <!-- <ul class="list-unstyled nav-sidebar bottom_nav">
            <li class="nav-item">
              <a href="#" class="nav-link"><img src="/img/side-nav/edit.png" alt="">Signup</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link"><img src="/img/side-nav/users.png" alt="">Sign In <i class="arrow_right"></i></a>
            </li>
          </ul> -->
        </div>
      </aside>
    </div>
  </div>
</div>
