---
layout: default
---

<!--================Forum Breadcrumb Area =================-->
<section class="doc_banner_area search-banner-light" style='padding:50px 0'>
</section>
<section class="page_breadcrumb">
  <div class="container custom_container">
    <div class="row">
      <div class="col-sm-7">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="https://www.lovelace.academy">Home</a></li>
            <li class="breadcrumb-item"><a href="https://learn.lovelace.academy">{{ page.categories[0] }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
          </ol>
        </nav>
      </div>
      <div class="col-sm-5">
        <a href="#" class="date"><i class="icon_clock_alt"></i>Updated on {{ page.last_modified_at | date: '%b %d, %y' }}</a>
      </div>
    </div>
  </div>
</section>
<!--================End Forum Breadcrumb Area =================-->

<!--================Topic Area =================-->
<section class="doc_documentation_area" id="sticky_doc">
  <div class="overlay_bg"></div>
  <div class="container custom_container">
    <div class="row">
      <div class="col-lg-3 doc_mobile_menu display_none">
        <aside class="doc_left_sidebarlist">
          <div class="open_icon" id="left">
            <i class="arrow_carrot-right"></i>
            <i class="arrow_carrot-left"></i>
          </div>
          <div class="scroll">
            <ul class="list-unstyled nav-sidebar">
              <li class="nav-item">
                <a href="" class="nav-link"><img src="/img/side-nav/home.png" alt="">Home</a>
              </li>
              <li class="nav-item active">
                <a href="#" class="nav-link"><img src="/img/side-nav/briefcase.png" alt="briefcase">Getting Started</a>
                <span class="icon"><i class="arrow_carrot-down"></i></span>
                <ul class="list-unstyled dropdown_nav">
                  <li><a href="/why-cardano/">Why Build On Cardano</a></li>
                  <li><a href="/running-a-full-node/">Running a Full Cardano Node</a></li>
                  <li><a href="/keys-and-addresses/">Wallets Basics: Keys and Addresses</a></li>
                  <!-- <li><a href="#">Wallets HD: Mnemonic Phrases</a></li> -->
                  <li><a href="#">Transactions: UTxOs and Metadata</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link"><img src="/img/side-nav/chat1.png" alt="">Native Tokens</a>
                <span class="icon"><i class="arrow_carrot-down"></i></span>
                <ul class="list-unstyled dropdown_nav">
                  <li><a href="#" target="_blank">Making Sense of Policies</a></li>
                  <li><a href="#" target="_blank">Tokens and Tokenomics</a></li>
                  <li><a href="#" target="_blank">Minting your own (fungible) tokens</a></li>
                  <li><a href="#" target="_blank">Minting NFTs</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link"><img src="/img/side-nav/document.png" alt="">Smart Contracts</a>
                <span class="icon"><i class="arrow_carrot-down"></i></span>
                <ul class="list-unstyled dropdown_nav">
                  <li><a href="#" target="_blank">Fundamentals: EUTxO</a></li>
                  <li><a href="#" target="_blank">The Plutus Platform</a></li>
                  <li><a href="#" target="_blank">Making Sense of Marlowe</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link"><img src="/img/side-nav/content.png" alt="">Videos</a>
                <span class="icon"><i class="arrow_carrot-down"></i></span>
                <ul class="list-unstyled dropdown_nav">
                  <li><a href="https://www.youtube.com/watch?v=ev75v-9LU5I" target="_blank">Making Sense of Blockchain</a></li>
                  <li><a href="https://www.youtube.com/watch?v=sM0_V53_kGo" target="_blank">The Cardano Revolution</a></li>
                  <li><a href="https://www.youtube.com/watch?v=mD1kAmP8K-M" target="_blank">Interview with Dr Mihaela Ulieru</a></li>
                  <li><a href="https://www.youtube.com/watch?v=-k8E_xfLxnI" target="_blank">Submitting a Catalyst Proposal</a></li>
                </ul>
              </li>
            </ul>
            
            <!-- <ul class="list-unstyled nav-sidebar bottom_nav">
              <li class="nav-item">
                <a href="#" class="nav-link"><img src="../../img/side-nav/edit.png" alt="">English </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link"><img src="../../img/side-nav/users.png" alt="">Sign In <i class="arrow_right"></i></a>
              </li>
            </ul> -->
          </div>
        </aside>
      </div>
      <div class="col-lg-7 col-md-8 doc-middle-content">
        <div id="post" class="shortcode_info documentation_info">
          <article class="shortcode_text">
            <div class="shortcode_title">
              <!-- <a class="btn" href="#">Learn</a> -->
              <h1>{{ page.title }}</h1>
            </div>

            {{ content | replace: '<img ', '<img class="img-fluid" ' }}

            <footer>
              <div class="border_bottom"></div>
              <div class="row feedback_link">
                <div class="col-lg-6">
                  <h6><i class="icon_mail_alt"></i>Still stuck? <a href="#" data-toggle="modal" data-target="#exampleModal3">How can we help?</a></h6>
                </div>
                <div class="col-lg-6">
                  <p>Was this page helpful? <a href="#" class="h_btn">Yes</a><a href="#" class="h_btn red">No</a></p>
                </div>
              </div>
            </footer>
          </article>
        </div>

        <div class="row topic_item_tabs inner_tab_list">
          <div class="col-lg-6">
            <div class="topic_list_item">
              <h4>Related articles</h4>
              <ul class="navbar-nav">
                <li><a href="#"><i class="icon_document_alt"></i>Accordions Widget</a></li>
                <li><a href="#"><i class="icon_document_alt"></i>Notice / Message Widget</a>
                </li>
                <li><a href="#"><i class="icon_document_alt"></i>Cheatsheet</a></li>
                <li><a href="#"><i class="icon_document_alt"></i>Image Hotspots Widget</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="topic_list_item">
              <h4>Recently viewed articles</h4>
              <ul class="navbar-nav">
                <li><a href="#"><i class="icon_document_alt"></i>Tabs Widget</a></li>
                <li><a href="#"><i class="icon_document_alt"></i>Notice / Message Widget</a>
                </li>
                <li><a href="#"><i class="icon_document_alt"></i>Cheatsheet</a></li>
                <li><a href="#"><i class="icon_document_alt"></i>Image Hotspots Widget</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 doc_right_mobile_menu">
        <div class="open_icon" id="right">
          <i class="arrow_carrot-left"></i>
          <i class="arrow_carrot-right"></i>
        </div>
        <div class="doc_rightsidebar scroll">
          <div class="pageSideSection">
            <select id="mySelect" name="os">
              <option value="engb" data-content="<i class='fab fa-engb'></i> English">English</option>
              <option value="other" disabled data-content="<i class='fab fa-oth'></i> Other Languages (in progress)">Other languages (in progress)</option>
            </select>
            <div id="font-switcher" class="d-flex justify-content-between align-items-center">
              <div id="rvfs-controllers" class="fontsize-controllers group"></div>
              <a href="javascript:window.print()" class="print"><i class="icon_printer"></i></a>
            </div>
            <div class="table-of-content">
              <h6><i class="icon_ul"></i> CONTENTS</h6>
              <nav class="list-unstyled doc_menu" id="navbar-example3">
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Topic Area =================-->
